<% if params[:action] == "index" %>
  <li>在庫</li>
<% else %>
  <li><%= link_to "在庫", [@category, :books]%></li>
<% end %>
<% if params[:action] == "checked_out" %>
  <li>貸出中</li>
<% else %>
  <li><%= link_to "貸出中", [:checked_out, @category, :books] %></li>
<% end %>