<ul class="radio_buttons">
  <li>
    <%= f.radio_button(:category_id, " ", checked: @book.category_id.nil?) %>
    <%= f.label(:category_id, "---", value: " ") %>
  </li>
  <% Category.all.each do |category| %>
    <li>
      <%= f.radio_button(:category_id, category.id) %>
      <%= f.label(:category_id, category.name, value: category.id) %>
    </li>
  <% end %>
</ul>